# Environment variables
.env
.env*.local

# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
.vercel

# Documentation files (except README.md)
*.md
!README.md
